# Arquivos e diretórios do sistema operacional
.DS_Store
Thumbs.db

# Diretório de dependências do Node.js
/node_modules

# Arquivos e diretórios gerados pelo compilador TypeScript
/dist
*.tsbuildinfo

# Arquivos de ambiente
.env
.env.*

# Arquivos de log
*.log

# Arquivos de cache
.nyc_output
.cache

# Diretório de cobertura de teste
/coverage

# Arquivos temporários
*.swp
*.swo
*.swn
*.bak
